<?xml version="1.0" encoding="UTF-8"?>
<global_settings>

    <!--- STARTSEITE -->
    <site_name>Stocherkahn XY e.V.</site_name>
    <site_footer_name>Stocherkahn Medizin e.V.</site_footer_name>
    <display_big_footer>false</display_big_footer>
    <big_footer_left_column_html>
        <![CDATA[
        <h5 class="white-text">Wichtige Links</h5>
        <ul>
        <li><a class="white-text" href="#!">Impressum</a></li>
        <li><a class="white-text" href="#!">Datenschutz</a></li>
        <li><a class="white-text" href="#!">Fachschaft Medizin</a></li>
        </ul>]]>
    </big_footer_left_column_html>

    <big_footer_right_column_html>
        <![CDATA[
        <h5 class="white-text">Über uns...</h5>
        <p class="grey-text text-lighten-4">Ne coole Truppe die Spaß am Kahnfahren hat:)</p>
    ]]>
    </big_footer_right_column_html>

    <!--- GENERAL -->
    <max_items_row_container>4</max_items_row_container>

    <!--- VERLEIH -->
    <earliest_begin>8</earliest_begin>
    <latest_begin>22</latest_begin>

    <!--- COLORS -->
    <site_menue_color>white</site_menue_color>
    <site_footer_color>green</site_footer_color>
    <site_buttons_color>green</site_buttons_color>
    <site_error_buttons_color>red</site_error_buttons_color>>

</global_settings>