<?xml version="1.0" encoding="UTF-8"?>
<global_settings>

    <!--- STARTSEITE -->
    <site_name>Stocherkahn XY e.V.</site_name>
    <site_footer_name>Stocherkahn Medizin e.V.</site_footer_name>

    <!--- GENERAL -->
    <max_items_row_container>4</max_items_row_container>

    <!--- VERLEIH -->
    <earliest_begin>8</earliest_begin>
    <latest_begin>22</latest_begin>

    <!--- COLORS -->
    <site_menue_color>white</site_menue_color>
    <site_footer_color>white</site_footer_color>

</global_settings>